.ModButton {
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  border-radius: 2px;
}

.ModButton h1{
  padding-bottom: 10px;
}

.Controls {
  display: flex;
  flex-direction: rows;
  width: 200px;
  height: 40px;
  vertical-align: middle;
}

.Controls button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 0px;
  background: black;
}

.Controls div {
  line-height: 40px;
  width: 40px;
}

.Controls button:hover{
  background: white;
  color: black;
}

@media screen and (min-width:300px) and (max-width:1000px) {
  .ModButton {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
  }
}