.SingleDice {
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 0px;
  background-color: rgba(87, 71, 71, 0.473)
}

.SingleDice:hover{
  background-color: black;
  color: white;
}

@media screen and (min-width:300px) and (max-width:1000px) {
  .SingleDice {
    margin: 5px;
    width: 60px;
    height: 60px;
  }
}