.App {
  text-align: center;
  width: 80%;
  margin-top: 30px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width:300px) and (max-width:1000px) {
  .App {
    width: 98%;
  }
}
