@font-face {
  font-family: OdibeeSans;
  src: url('./assets/OdibeeSans-Regular.ttf');
}

@font-face {
  font-family: UbuntuMono;
  src: url('./assets/UbuntuMono-Regular.ttf');
}

*{
  font:25px/31px 'OdibeeSans', sans-serif; height: auto;
  background: transparent;
  margin: 0 auto;
  padding: 0;
  color: white;
  /* border: 1px solid red;  */
}

body{
  background-color: #000000;
}

@media screen and (min-width:300px) and (max-width:1000px) {
  * {
    font-size: 1.02em;
  }
}
